<div class="container fixed-bottom bg-light">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-2 border-top">
        <div id="text-creator">
            <span class="mb-3 ">
                © 2023 | Created by <a href="https://github.com/ferdyhape" class="text-decoration-none"
                    target="_blank">Ferdy Hahan Pradana</a>
            </span>
        </div>

        <div id="social-media-icon">
            <div class="col-md-12 d-flex justify-content-between gap-3">
                <a href="https://github.com/ferdyhape" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/ferdyhape/" target="_blank">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/ferdy-hahan-pradana/" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
        </div>
    </footer>
</div>
<style>
    .fa-2x {
        font-size: 1.7em;
    }

    .fa-github {
        color: #333;
    }

    .fa-instagram {
        color: #e1306c;
    }

    .fa-linkedin {
        color: #0077b5;
    }
</style>