{% extends 'app.html' %} {% block content %}

<h4 class="my-4">Login Page</h4>

<div class="col-sm-5">
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        placeholder="Username"
        class="form-control"
        id="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="form-control"
        id="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

{% endblock %}
