{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title}}</title>
  {% include "layouts/styles.html" %}
</head>

<body>
  {% include "layouts/navbar.html" %}
  {% comment %} <div class="container">{% include "layouts/breadcrumb.html" %}</div> {% endcomment %}
  <div class="container h-100 my-3">
    {% block content %}{% endblock content %}
  </div>
  {% include "layouts/footer.html" %}

  {% include "layouts/scripts.html" %}
</body>

</html>